html{
    height: 100%;
}
.recipes{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.home-header {
    text-align: center;
}
ul.recipe-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.recipe-items li {
    width: 50%;
    max-width: 400px;
    list-style-type: none;
    background: #c7c5c1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 5px 10px;
    margin: 5px;
}
.updatebutton, 
.submitButton,
.addButton {
    background-color: #02a502;
    border: solid 1px #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-out .2s;
}
.deletebutton,
.cancel {
    background-color: #d80000;
    border: solid .5px #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-out .5s;
}
.updatebutton:hover, 
.submitButton:hover,
.addButton:hover {
    background-color: #017301;
}
.deletebutton:hover,
.cancel:hover{
    background-color: #b10000;
}
